body {
    margin: 0;
    font-size: 0.9em;
}

.icon-nav {
    margin: 5px;
}

.icon-nav:hover {}

nav {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

ul>img {
    padding: 0 8.2px;
}