body {
    margin: 0;
    font-size: 0.9em;
    background-color: gainsboro;
}

.icon-nav {
    margin: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

ul>img {
    padding: 0 8.2px;
}


/*hovering pointers over the icon*/

.icon-nav:hover {
    cursor: pointer;
}


/*position the search box to fit */

.search-box {
    border: 1px solid black;
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    justify-content: space-between;
}


/*working on the search icon*/

img[src*='search'] {
    border: hidden;
    background-color: gainsboro;
    border-radius: 15px;
}

header {
    background-color: white;
}


/*working on the voice icon. */

img[src*='voice'] {
    border: hidden;
    background-color: gainsboro;
    border-radius: 100px;
}


/*increasing search box size*/

.search-box>input {
    flex-grow: 100;
}


/*fixing header*/

header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;
}

.video {
    position: relative;
    padding-top: 70px;
    width: 100%;
    height: auto;
    top: 0px;
}

.left-side,
.right-side {
    height: 100vh;
    width: 100%;
}

.left-side {}

.right-side {
    padding-left: 230px;
    padding-top: 30px;
}

.video {
    background-color: gainsboro;
}

.left-side {
    display: block;
    height: 100%;
    left: 10%;
    position: absolute;
    top: 5%;
    width: 100%;
}

.concerns {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid black;
    padding-bottom: 5px;
}


/*working on the color and the size of the button*/

button {
    background-color: red;
    color: white;
    border: none;
    margin: 0.5px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.info {
    display: flex;
    align-items: center;
}

.dude {
    padding-left: 32px;
}

.showMore:hover {
    cursor: pointer;
}

.description-area {
    border-bottom: black 1px solid;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

.number-of-comments {
    padding-top: 20px;
    padding-bottom: 20px;
}

.add {
    border: none;
    border-bottom: 1px solid black;
}

.cancel {
    display: flex;
    justify-content: flex-end;
}

.public-comment {
    padding-bottom: 20px;
}

.thumbnail {
    border: 1px black solid;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.organize {
    display: flex;
    align-items: center;
}

.move-to-the-left {
    padding-left: 0px;
}

.individual {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content {
    padding-left: 35px;
    padding-top: 0px;
}

.individual-views {
    padding-left: 35px;
}

.views {
    padding-left: 0px;
}

.replies {
    color: blue;
    display: flex;
    align-items: center;
    padding-left: 32px;
    padding-top: 10px;
}

.view-replies {
    cursor: pointer;
}

img[src*="down-arrow"] {
    cursor: pointer;
}

.more-content {
    padding-left: 5px;
}

.all {
    background-color: gainsboro;
    border-radius: 30px;
    border: solid black 0.5px;
    color: black;
}

.organize:hover {
    cursor: pointer;
}

input {
    width: 94%;
}

img[src*="next.png"]:hover {
    cursor: pointer;
}